<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="Enter Your Name"><br>
    <input type="text" placeholder="Mobile Number"><br>
    <input type="text" placeholder=" Enter your Address"><br><br>
    <a href="{% url 'doctor:index' %}"><input type="button" value="Login In"></a>

</body>
</html>